.profile-setting{
    margin-top: 5%;
    display: flex;
}

.left-section{
    width: 25%;
    background-color: rgb(255, 255, 0);
    height: 100px;
}

.right-section{
    width: 75%;
    background-color: black;
    height: 100px;
}